
body {
    margin: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'nav header'
    'nav content';
}
    


.nav{
    grid-area: nav;
    background-color: #1992d4;
    color: white;
}

.nav-list-item {
    padding-top: 1rem;
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-left: 2rem;
    gap: 0.5rem;
}

.nav-list-item a {
    color: white;
    text-decoration: none;
}

.nav-list-item img {
    height: 1rem;
    
}
.logo-container {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}
.logo {
    height: 1.5rem;
}

.header {
    
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'search profile'
    'greeting buttons';
}

.search-container {
    grid-area: search;
    margin: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.search-container input {
    border: none;
    background-color: #e2e8f0;
    width: 100%;
    border-radius: 15px;
}

.search-container img {
    height: 1rem;
}

.profile-container {
    grid-area: profile;
    margin: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: right;
    align-items:center;
}

.profile-container span {
    font-weight: bold;
}
#notification {
    height: 1rem;
}

#profile-pic {
    height: 2rem;
}

.greeting-container {
    grid-area: greeting;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
}

.greeting-container img {
    width: 4rem;
}

.greeting-container span {
    font-size:xx-small;
}

.buttons-container {
    display: flex;
    align-items: center;
    margin: 2rem;
    justify-content: space-between;
}

.buttons-container button {
    border: none;
    width: 5rem;
    border-radius: 15px;
    padding: 4px;
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #1992d4;
}
