
body {
    margin: 0;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    'nav header'
    'nav content';
    font-family: Roboto, sans-serif;
}

.nav{
    grid-area: nav;
    background-color: #1992d4;
    color: white;
}

.nav-list-item {
    padding-top: 1rem;
    display: flex;
    font-weight: bold;
    align-items: center;
    padding-left: 2rem;
    gap: 0.5rem;
}

.nav-list-item a {
    color: white;
    text-decoration: none;
}

.nav-list-item img {
    height: 1rem;
    
}
.logo-container {
    display: flex;
    padding-left: 1.5rem;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}
.logo {
    height: 1.5rem;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'search profile'
    'greeting buttons';
    box-shadow: inset 0px -1px 5px  #615b5b;
}

.search-container {
    grid-area: search;
    margin: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.search-container input {
    border: none;
    background-color: #e2e8f0;
    width: 100%;
    border-radius: 15px;
}

.search-container img {
    height: 1rem;
}

.profile-container {
    grid-area: profile;
    margin: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: right;
    align-items:center;
}

.profile-container span {
    font-weight: bold;
}
#notification {
    height: 1rem;
}

#profile-pic {
    height: 2rem;
    border-radius: 50%;
}

#profile-pic:hover {
    height: 2rem;
    box-shadow: 0px 0px 2px 2px red;
    cursor: pointer;
}

.greeting-container {
    grid-area: greeting;
    margin-left: 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: bold;
}

.greeting-container img {
    width: 4rem;
}

.greeting-container span {
    font-size:xx-small;
}

.buttons-container {
    display: flex;
    align-items: center;
    margin: 2rem;
    justify-content: space-between;
}

.buttons-container button {
    border: none;
    width: 5rem;
    border-radius: 15px;
    padding: 4px;
    color: white;
    font-size: small;
    font-weight: bold;
    background-color: #1992d4;
}
.main-content {
    grid-area: content;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        'projects announcements'
        'projects trending';
    background-color: #e2e8f0;
}

.main-content p {
    color: #6f6f6f;
}

.projects {
    grid-area: projects;
    padding: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.card {
    padding: 10px;
    box-shadow:  1px 1px 4px #535455;
    border-radius: 10px;
    background-color: white;
    
}
.card p {
    display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 5; 
            overflow: hidden; 
            text-overflow: ellipsis; 
}

.actions {
    display: flex;
    justify-content:right;
    gap: 2rem;
    padding-right: 1rem;
}

.actions img {
    height: 1rem;
}

.announcements {
    grid-area: announcements;
    padding: 1rem;
}

.announcements-container {
    padding: 2rem;
    box-shadow:  1px 1px 4px #535455;
    border-radius: 10px;
    background-color: white;
}

.announcements-container hr {
    color: #e4e4e4;
    size: 1px;
}

.ann-card p {
    margin-top:2px ;
    display: -webkit-box; 
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 3; 
            overflow: hidden; 
            text-overflow: ellipsis;
}
.ann-card h5 {
    margin-bottom: 2px;
    margin-top:1rem ;
}

.trending {
    grid-area: trending;
    padding: 1rem;
}

.trending-container {
    padding: 2rem;
    box-shadow:  1px 1px 4px #535455;
    border-radius: 10px;
    background-color: white;
}

.trending-card {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.trending-card img {
    height: 2rem;
}
.trending-user {
    font-size: x-small;
    padding: 2px;
}

.trending-user span {
    font-weight: bold;
}

.trending-user p {
    margin: 0;
}
